@tailwind base;
@tailwind components;
@tailwind utilities;


.hoverflow-behavior-contain{
    overscroll-behavior-y: contain;
}

body{
    overflow-y: hidden;
    overflow: contain;
}

.fifty{
    background: linear-gradient(to bottom, #F4F5F7 70%, #fff 30%);
}

@media only screen and (max-width: 500px) {
    .fifty{
        background: linear-gradient(to bottom, #F4F5F7 10%, #fff 90%);
    }
  }