@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Manrope, system-ui, sans-serif;
  }
}

.hoverflow-behavior-contain {
  overscroll-behavior-y: contain;
}

/* body{
    overflow-y: hidden;
    overflow: contain;
} */

.lock-scroll {
  overflow-y: hidden;
  overflow: contain;
}

.fifty {
  background: linear-gradient(to bottom, #f4f5f7 70%, #fff 30%);
}

@media only screen and (max-width: 500px) {
  .fifty {
    background: linear-gradient(to bottom, #f4f5f7 10%, #fff 90%);
  }
}
